{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        {% set classes = "col-sm-2 control-label" %}
        <label{% for attrname, attrvalue in label_attr %}{% if attrname == "class" -%}{% set classes = classes ~ " " ~ attrvalue %}{%- endif %}{% if attrname != "class" %} {{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}class="{{ classes }}">{{ label|trans({}, translation_domain) }}</label>
    {%- endif %}
{%- endblock form_label %}
{% block form_widget_simple -%}
    {% set type = type|default('text') %}
    <div class="col-sm-10">
        <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" class="form-control" />
    </div>
{%- endblock form_widget_simple %}
{% block textarea_widget -%}
    <div class="col-sm-10">
        <textarea {{ block('widget_attributes') }} class="form-control">{{ value }}</textarea>
    </div>
{%- endblock textarea_widget %}
{% block form_row -%}
    <div class="form-group">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}
{% block choice_widget_collapsed -%}
    <div class="col-sm-10">
        {% if required and placeholder is not defined and placeholder_in_choices is not defined and multiple is not defined -%}
            {% set required = false %}
        {%- endif -%}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control">
            {% if placeholder is defined -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
            {%- endif %}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {% if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif %}
            {%- endif -%}
            {% set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    </div>
{%- endblock choice_widget_collapsed %}
{% block choice_widget_options -%}
    <div class="col-sm-10">
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}" class="form-control">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
    </div>
{%- endblock choice_widget_options %}

{% block checkbox_widget -%}
    <div class="col-sm-10">  
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} class="form-control" />
    </div>
{%- endblock checkbox_widget %}

{% block radio_widget -%}
    <div class="col-sm-10">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} class="form-control" />
    </div>
{%- endblock radio_widget %}
{% block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form name="{{ name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %} class="form-horizontal entityForm" role="form">
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}    
    <form >
{%- endblock form_start %}
{% block date_widget -%}
    <div class="input-group date">
        <input class="form-control" id="{{ id }}" type="{{ type }}" {{ block('widget_attributes') }} value="{{ value|date('Y-m-d') }}" />
    </div>
{%- endblock date_widget %}