{% if app.security.getToken().getProviderKey() is defined and app.security.getToken().getUser() is defined %}
    {% set sessionKey = app.session.get("blacksmurfsymfony2corebundle_usergrouprole_" ~ app.security.getToken().getProviderKey()  ~ "_" ~ app.security.getToken().getUser().getUsername()) %}
{% else %}
    {% set sessionKey = 0 %}
{% endif %}
{% if entityForm is defined %}
    {% form_theme entityForm 'BlackSmurfSymfony2CoreBundle::form_template.html.twig' %}
{% endif %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>MyLittleBusiness</title>
        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        <script src="{{ asset('bundles/blacksmurfsymfony2core/js/default.js') }}"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link ref="stylesheet" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.css" />
        <link rel="stylesheet" href="{{ asset('bundles/blacksmurfsymfony2core/css/style.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    </head>
    <body style="background-color: #fafafa">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MyLittleBusiness</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% spaceless %}
                    {% if is_granted('ROLE_USER') %}
                        {{ get_button("Se déconnecter", {
                                        "url": "javascript:document.location.href = '" ~ path('blacksmurf_symfony2core_security_logout') ~ "'",
                                        "icon": WidgetExtension.ICON_REMOVE,
                                        "size": WidgetExtension.SIZE_SMALL,
                                        "class": "navbar-btn navbar-right"
                                     })
                        }}
                        <p class="navbar-text navbar-right btn-sm navbar-login">Connecté en tant que {{ app.user.username }}
                            {% set current_group = get_current_group() %}
                            {% if current_group.grouprole.name is defined %}
                            - profil {{ current_group.grouprole.name }}
                            {% endif %}
                        </p>
                   {% else %}
                        {{ get_button("Se connecter", {
                                        "url": "javascript:document.location.href = '" ~ path('blacksmurf_symfony2core_security_login') ~ "'",
                                        "icon": WidgetExtension.ICON_USER,
                                        "size": WidgetExtension.SIZE_SMALL,
                                        "class": "navbar-btn navbar-right"
                                     })
                        }}   
                    {% endif %}
                    {% endspaceless %}
                </div>
            </div>
        </nav>
        {% if sessionKey != 0 %}
            {% if is_granted('ROLE_USER') %}
                <div style="float: left; width: 15%;height: 100%;background-color: #fff;border: 1px solid rgb(202, 202, 202);margin: 5px;" class="bs-menu">
                    {{ render_menu() }}
                </div>
                <div style="float: left; width: 84%">
            {% else %}
                <div style="width: 100%">        
            {% endif %}
        {% else %}
                {% if app.user.login is defined %}
                    <div style="width: 500px; margin: auto">
                {% else %}
                    <div style="width: 100%">        
                {% endif %} 
        {% endif %}
            {% if page_title is defined %}
                {% if app.request.attributes.get('_route') == 'blacksmurf_symfony2core_security_login' %}
                    <div style="width: 500px; padding: 10px; margin: auto">
                {% else %}
                    <div style="width: 100%; padding: 10px; margin: auto">
                {% endif %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
                {% endfor %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ page_title }}</h3>
                        </div>
                        <div class="panel-body">
                            {{ block('content') }}
                        </div>
                    </div>
            {% else %}
                    {{ block('content') }}
            {% endif %}
        </div>
        
        <form method="post" action="#" id="crudActionForm">
            <input type="hidden" name="_method" value="">
            <input type="hidden" id="form__token" name="form[_token]" value="">
        </form>
        
        <script type="text/javascript">

/*
            jQuery.fn.dataTableExt.oSort['string-case-asc'] = function(x, y) {
                return ((x < y) ? -1 : ((x > y) ? 1 : 0));
            };

            jQuery.fn.dataTableExt.oSort['string-case-desc'] = function(x, y) {
                return ((x < y) ? 1 : ((x > y) ? -1 : 0));
            };
*/
            $(function() {

                $.fn.dataTableExt.aTypes.unshift(
                        function ( sData )
                        {
                            var sValidChars = "0123456789-,";
                            var Char;
                            var bDecimal = false;
                            var aValidJours = ['lundi','mardi','mercredi','jeudi','vendredi','samedi','dimanche'];

                            /***********ignorer le code html ******************/
                            sData = typeof sData.replace == 'function' ?
                                    sData.replace( /<.*?>/g, "" ) : sData;
                            sData = $.trim(sData);

                            //jour_fr
                            if($.inArray(sData.toLowerCase(), aValidJours) >= 0){
                                return 'jour_fr';
                            }


                            //date_fr
                            if (sData !== null && sData.match(/^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[012])\/(19|20|21)\d\d$/))
                            {
                                return 'date_fr';
                            }

                            //numerique double
                            /* Check the numeric part */
                            for ( i=0 ; i<sData.length ; i++ )
                            {
                                Char = sData.charAt(i);
                                if (sValidChars.indexOf(Char) == -1)
                                {
                                    return null;
                                }

                                /* Only allowed one decimal place... */
                                if ( Char == "," )
                                {
                                    if ( bDecimal )
                                    {
                                        return null;
                                    }
                                    bDecimal = true;
                                }
                            }
                            if(bDecimal){
                                return 'numeric-comma';
                            }

                            return null;
                        }
                );

                $.fn.dataTableExt.oSort['date_fr-asc']  = function(a,b) {
                    var tmpA = a.toString().split(' ');
                    if( tmpA[1] == null ) {
                        tmpA[1] = "00:00:00";
                    }
                    var dateA = tmpA[0].split('/');
                    var heureA = tmpA[1].split(':');

                    var tmpB = b.toString().split(' ');
                    if( tmpB[1] == null ) {
                        tmpB[1] = "00:00:00";
                    }
                    var dateB = tmpB[0].split('/');
                    var heureB = tmpB[1].split(':');

                    x = new Date(dateA[2], dateA[1]-1, dateA[0], heureA[0], heureA[1], heureA[2]);
                    y = new Date(dateB[2], dateB[1]-1, dateB[0], heureB[0], heureB[1], heureB[2]);

                    return ((x < y) ? -1 : ((x > y) ?  1 : 0));
                };

                $.fn.dataTableExt.oSort['date_fr-desc'] = function(a,b) {
                    var tmpA = a.toString().split(' ');
                    if( tmpA[1] == null ) {
                        tmpA[1] = "00:00:00";
                    }
                    var dateA = tmpA[0].split('/');
                    var heureA = tmpA[1].split(':');

                    var tmpB = b.toString().split(' ');
                    if( tmpB[1] == null ) {
                        tmpB[1] = "00:00:00";
                    }
                    var dateB = tmpB[0].split('/');
                    var heureB = tmpB[1].split(':');

                    x = new Date(dateA[2], dateA[1]-1, dateA[0], heureA[0], heureA[1], heureA[2]);
                    y = new Date(dateB[2], dateB[1]-1, dateB[0], heureB[0], heureB[1], heureB[2]);

                    return ((x < y) ? 1 : ((x > y) ?  -1 : 0));
                };


                {{ block('afterJavascripts') }}
            });
        </script>
    </body>
</html>
        
