{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% set page_title = "Sélection du profil de connexion" %}
{% block content %}
    Vous avez plusieurs profils. Veuillez sélectionner votre profil de connexion ci-dessous.
    <br /><br />
    <form class="form" action="{{ path("blacksmurf_symfony2core_security_select_group") }}" method="post">
        <select id="auth_group_id" name="_auth_group_id" class="form-control">
            {% for group in groups %}
            <option value="{{ group.id }}">
                Profil {{ group.groupRole.name }} :
                {% if group.groupRole.role == "ROLE_GEST" %}
                    {{ group.company.name }}
                {% elseif group.groupRole.role == "ROLE_CLIENT" %}
                    {{ group.client.name }}
                {% else %}
                {% endif %}
            </option>
            {% endfor %}
        </select>
        <div style="text-align: right; margin: 10px 0 0 0">
            {{ get_previous_button("Précédent", path('blacksmurf_symfony2core_security_logout')) }}&nbsp;
            {{ get_form_submit_button("Valider", {
               "icon": WidgetExtension.ICON_FLOPPY_SAVED,
               "type": WidgetExtension.DANGER
               }) }}            
        </div>
    </form>
    <script type="text/javascript">
        $("#auth_group_id").focus();
    </script>

{% endblock %}