{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% set page_title = "Veuillez vous identifier" %}
{% block content %}

    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    <div style="width: 400px; margin: auto" class="login">
        <form action="{{ path('blacksmurf_symfony2core_security_login_check') }}" method="post" role="form" class="form-horizontal">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="form-group">
                 <label for="login" class="col-sm-4 control-label">Identifiant :</label>
                  <div class="col-sm-8">
                     <input class="form-control" type="text" id="login" name="_login" value="{{ last_username }}" />
                  </div>
             </div>
             <div class="form-group">
                 <label for="password" class="col-sm-4 control-label">Mot de passe :</label>
                  <div class="col-sm-8">
                     <input class="form-control" type="password" id="password" name="_password" value="{{ last_username }}" />
                  </div>
             </div>

             <div style="text-align: right">
                {{ get_form_submit_button("Connexion", {
                   "icon": WidgetExtension.ICON_OK,
                   "type": WidgetExtension.PRIMARY
                   }) }}
             </div>
        </form>
    </center>

    <script type="text/javascript">
        $("#login").focus();
    </script>

{% endblock %}