* {
    font-family: Lato;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.nav-pills>li>a {
    border-radius: 0px;
}

table.entityForm, table.entityForm .input-group, table.entityForm .input-group textarea, table.entityForm .input-group input, div.login .input-group, div.login .input-group input {
    width: 100%;
}

table.entityForm td {
    padding: 5px;
}

table.entityForm .input-group-addon {
    width: 150px;
    text-align: right;

}

div.login .input-group-addon {
    width: 120px;
    text-align: right;

}

table.entityForm .form-control {
    width: 400px ;
}

table.entityForm textarea {
    width: 400px;
    height: 100px;
}

.top {
    margin: 20px 0 0 0;
}

.bottom {
    margin: 20px 0 0 0 ;
}

.bs-menu{
    position:relative;
    padding:45px 0 0 0;
    margin:0 -15px 15px;
}
.bs-menu:after{
    position:absolute;
    top:15px;left:15px;
    font-size:12px;
    font-weight:700;
    color:#959595;
    text-transform:uppercase;
    letter-spacing:1px;
    content:"Menu"
}
.bs-menu+.highlight, .bs-menu+.zero-clipboard+.highlight{
    margin:-15px -15px 15px;
    border-width:0 0 1px;
    border-radius:0}

.navbar-login {
    position: relative;
    top: 5px;
    line-height: 0px;
}

.date input {
    border-radius: 4px !important;
    left: 15px;
    width: 170px;
}

div.bill_benefit {
    font-size: 12px;
}

div.bill_benefit input[type=checkbox] {
    height: 14px;
}

div.bill_benefit label {
    font-weight: normal;
}

a.deleteLink {
    color: #d9534f;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-primary, .bs-callout-primary h1:first-child, .bs-callout-primary h2:first-child, .bs-callout-primary h3:first-child, .bs-callout-primary h4:first-child {
    border-left-color: #428bca;
}

.bs-callout-success, .bs-callout-success h1:first-child, .bs-callout-success h2:first-child, .bs-callout-success h3:first-child, .bs-callout-success h4:first-child {
    border-left-color: #5cb85c;
}

.bs-callout-info, .bs-callout-info h1:first-child, .bs-callout-info h2:first-child, .bs-callout-info h3:first-child, .bs-callout-info h4:first-child {
    border-left-color: #5bc0de;
}

.bs-callout-warning, .bs-callout-warning h1:first-child, .bs-callout-warning h2:first-child, .bs-callout-warning h3:first-child, .bs-callout-warning h4:first-child {
    border-left-color: #f0ad4e;
}

.bs-callout-danger, .bs-callout-danger h1:first-child, .bs-callout-danger h2:first-child, .bs-callout-danger h3:first-child, .bs-callout-danger h4:first-child {
    border-left-color: #d9534f;
}

.bs-callout p {
    margin-top: 20px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 0;
}
