{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% block content %}
    {{ form_start(entityForm) }}
        <div class="error">{{ form_errors(entityForm) }}</div>   
        {% do entityForm.submit.setRendered %}
        {{ form_rest(entityForm) }}
        <br />
        <div style="text-align: right; margin: 10px 0 0 0">
            {{ get_previous_button("Précédent", path(back_url)) }}&nbsp;&nbsp;{{ get_crud_submit_button("Valider") }}
            <button type="submit" id="hidden_form_submit" style="visibility: hidden"></button>
        </div>
    {{ form_end(entityForm) }}
{% endblock %}
