<span style='color: #000' title='Frames'>   145</span><span style='color: #009' title='Memory'>   9472.00 KB</span><span style='color: #900' title='Time'>   1846.76 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />